$bg: white;
$sb_bg: rgb(55, 55, 95);

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	height: 100vh;
	overscroll-behavior: none; /* Prevent bounce scrolling (doesn't play well with page design and fixed-position elements) */
}

.sidebar {
	height: 100%;
	overflow: auto;
	flex: 1;
	transform: scaleX(-1); /* Put scrollbar on left side, must be undone in children */
	background-color: $sb_bg;

	a {
		color: inherit;
	}

	a:hover {
		opacity: 60%;
	}

	.sidebar-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		margin-top: 10%;
		margin-bottom: 30%;
		transform: scaleX(-1); /* Undo transform from flipping scrollbar side */
		color: white;

		.separator {
			width: 60%;
			border-color: white;
			opacity: 20%;
		}

		.portrait {
			object-fit: cover;
			width: 60%;
			border-radius: 50%;
		}

		.intro {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;

			.name {
				font-size: 40px;
			}

			.title {
				font-size: 24px;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 32px;
			font-family: 'Open Sans', sans-serif;

			li {
				display: flex;
				flex-direction: row;
				gap: 20px;
				align-items: center;
				flex-wrap: nowrap;

				i {
					font-size: 20px;
				}

				div {
					display: flex;
					flex-direction: column;
					gap: 4px;

					.info-type {
						font-size: 16px;
					}
	
					.info-value {
						font-size: 16px;
					}
				}
			}
		}
	}
}

body .content {
	height: 100%;
	flex: 3;
	overflow: auto;

	#sections {
		padding: 32px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 32px;

		.section {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			gap: 32px;

			i {
				color: $sb_bg;
				height: fit-content;
				padding: 4px;
				margin-top: 4px;
			}

			i:hover {
				opacity: 40%;
			}

			.content {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				gap: 12px;
				padding: 0;
				width: fit-content;
				font-family: 'Courier New', Courier, monospace;

				.header {
					font-family: 'Open Sans', sans-serif;
					font-weight: medium;
					width: fit-content;
				}

				hr {
					opacity: 40%;
					border-color: $sb_bg;
				}

				.entry {
					display: flex;
					flex-direction: column;
					gap: 2px;

					.time-period {
						font-style: italic;
						font-weight: thin;
						font-family: 'Times New Roman', Times, serif;
						opacity: 60%;
						margin-bottom: 4px;
					}

					ul {
						display: flex;
						flex-direction: column;
						list-style-type: circle;
						list-style-position: inside;
						font-family: 'Courier New', Courier, monospace;
						gap: 4px;
					}
				}
			}
		}
	}
}
